<s>[INST] <<SYS>>{% for message in messages %}{% if message['role'] == 'system' %}
{{message['content']}}
{% endif %}{% endfor %}<</SYS>>
{{''}}
{% for message in messages %}{% if message['role'] == 'user' %}{{message['content'] + ' [/INST] '}}{% elif message['role'] == 'assistant' %}{{message['content']}} </s><s>{{'[INST] '}}{% endif %}{% endfor %}
