{% for message in messages %}{% if message['role'] == 'system' %}{{message['content']}}
{% elif message['role'] == 'user' %}{{'USER: ' + message['content']}}
{% elif message['role'] == 'assistant' %}{{'ASSISTANT: ' + message['content']}}
{% endif %}{% endfor %}ASSISTANT: 
